Source: debugfs-openrc
Section: misc
Priority: important
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=13)
Standards-Version: 4.6.2
Homepage: http://nxos.org


Package: debugfs-openrc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openrc
Conflicts: systemd, systemd-sysv
Description: Package to add debugfs configuration for OpenRC.
 This package will add the boot scripts to use debugfs
 with OpenRC in Nitrux.

